.landing {

    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #12121F;
    color: white;

}

img {

    width: 200px;

}

button {

    background-color: #00DCFF;
    padding: 10px 15px;
    border: 0;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 10px;

}

p {

    font-size: 40px;

}

h1 {

    font-size: 4rem;
    margin: 20px;

}

@media screen and (max-width: 690px)  {

    h1 {

        font-size: 3rem;

    }

    p {

        font-size: 30px;

    }

}

@media screen and (max-width: 322px)  {

    h1 {

        font-size: 2rem;

    }

    p {

        font-size: 30px;

    }

}