@font-face {
    font-family: "Pompiere";
    src: url("https://fonts.googleapis.com/css?family=Pompiere:100,200,300,400,500,600,700");
}

body, p, button {

    margin: 0;
    font-family: Pompiere;

}

